* {
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(
    to right,
    rgba(31, 44, 44, 0.7) 10%,
    rgba(57, 79, 79, 0.5) 55%
  ); */
  background-color: #1d212c;
  /* Standard syntax (must be last) */
  height: auto;
}
.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #38137c;
}
